
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

.box{
  min-height:70vh;
  width:100%;
}
.wrapper{
  width:60%;
  margin:auto;
}
.navbar
{
  height:70px;
  background-color: #0080ff;
}
.navbar-header .navbar-brand
{
  padding:20px;
  font-size:20px;
  color:white;
}
.navbar-left
{
  list-style: none;
  padding:20px;
  font-size:17px;
}
.navbar-left li
{ 
  padding-right: 30px;
  float:left;
}
.navbar-left li a
{
  text-decoration: none;
  color:white;
}
.navbar-left li :hover
{
  cursor: :pointer;
  text-decoration: none;
  color:;
}
.navbar-right
{
  list-style: none;
  padding:20px;
  font-size:17px;
}
.navbar-right li
{ 
  padding-right: 10px;
}
.navbar-right li a
{
  text-decoration: none;
  color:white;
}
.navbar-right li :hover
{
  cursor: :pointer;
  text-decoration: none;
  color:;
}
.btn-primary
{
  height:50px;
}
.form-group{
  margin:15px;
}
.form-title h2{
  font-size: 24px;
}
.alert{
  margin-top:-15px;
}
form label {
  margin-top:5px;
}
h2 {
  font-size: 20px;
  font-family: serif;
  padding:10px;
  text-align:center;
}
.links {
  width:300px;
  height:auto;
  margin:auto;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.btn-holder{
  float:right;
  
}
.box-wrapper
{
  width:30%;
  height:600px;
  display: flex;
  flex-direction: column;
}
.form-box
{
  width:auto;
  border:solid 1px;
  border-color:#edf1f5;
  min-height:300px;
  margin:5px 0px 0px 10px;
}
.form-box .form-title{
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  text-decoration: underline;
  margin-bottom:30px;
}
.error-flash{
  margin:30px 0px 0px 20px;
  font: 16px;
  color:red;
}
.form-box .form-group{
  margin:10px 20px 0px 20px;
}
.form-box .form-group button{
  float:right;
  margin-top:10px;
}
.form-box .form-group a{
  margin-bottom:10px;
}
.table-wrapper {
  width:65%;
  margin-right:10px;
  min-height:300px;
  display: flex;
  flex-direction: column;
  float:right;
  margin-top:-600px;
  border:solid 1px;
  border-color:#edf1f5;
}
.table-wrapper .table-title{
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}
table{
  width:100%;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #F44336;
}
table.table td a.view {
  color: white;
}
table.table td a.view:hover {
  color: white;
}
table.table td i {
  font-size: 30px;
}
table.table th{
  font-size: 15px !important;
  font-weight: normal !important;
}

table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table tr th:first-child {
  width: 40px;
}
table.table tr th:last-child {
  width: 90px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
} 
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196F3;
  cursor: pointer;
}
.empty-div
{
  width:65%;
  margin-top:-600px;
  float:right;
  margin-right:10px;
  min-height:300px;
}
.empty-div .content{
  margin-left:20px;
  margin-bottom:10px;
}
.empty-div .content img {
  border-radius: 50%;
  margin:10px;
}
.msg-flash
{
  width:100%;
}
.form-group ul{
  margin-top:-10px;
  margin-bottom: 0pc;
}
.form-group li:hover{
  cursor: pointer;
  background-color: blue;
  color: white;
}



.msg-error{
  color:red;
  margin:0px 0px 10px 20px;
}

footer{
  margin-top:100px;
  width:100%;
  background-color: #137281;
  min-height: 30vh;
  color:white;  
}

footer .footer-top{
  margin:auto;
  width:50%;
  padding:10px;
}
footer .footer-top ul{
  list-style: none;
  padding:20px;
}
footer .footer-top ul li{
  float:left;
  color:white;
  padding:30px;
}
footer .footer-top ul li a{
  color:white;
}
.container .comments-list
{
  margin:5px 0px 0px 20px;
}
.container .form .form-group button{
  margin:5px 0px 0px 650px;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.empty-div form button{
  float:right;
  margin-top:5px;
}

