.modal{
  display:none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.modal .modal-body{
  margin-top:1rem;

}
.modal .btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .btn-group a{
  margin-right: 1rem;
  color:white;
}
.addModal {
  display:none;
  position: fixed;
  z-index: 1;
  margin-top:0; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.addModal .modal-dialog
{
  margin-top: 1rem;
  height: auto;
}
.addModal .modal-header {
  position:relative;
  height:4rem !important;
}
.addModal .modal-header .btn-close {
  position:absolute;
  right:.6rem;
}
.log-modal{
  display:none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
span.btn-close{
  color:black;
  font-size:1rem;

}
span.btn-close:hover{
  cursor: pointer;
  color:red;
}
.warning {
  color:red;
}

